<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title>Bridge Game Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
    
    <link href="http://cdn.syncfusion.com/js/web/flat-lime/ej.web.all-latest.min.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
    <script src="http://cdn.syncfusion.com/js/assets/external/jquery.easing.1.3.min.js"></script>
    <script src="http://borismoore.github.io/jsrender/jsrender.min.js"></script>
    <script src="/client/js/lib/ej.web.all.min.js" type="text/javascript"></script>
    <script src=" http://cdn.syncfusion.com/js/web/ej.widget.angular-latest.min.js"></script>
    <script src="/client/js/src/apps/game.js" type="text/javascript"></script>
    <script src="/client/js/src/controllers/game.controllers.js" type="text/javascript"></script>
    <script src="/client/js/src/controllers/game.controllers.menu.js" type="text/javascript"></script>
    <script src="/client/js/src/directives/game.directives.js" type="text/javascript"></script>
    <script src="/client/js/src/services/game.services.js" type="text/javascript"></script>
    <link href="/client/css/site.css" rel='stylesheet'/>
    <link href="/client/css/menu-styles.css" rel='stylesheet'/>
    
</head >



<body ng-app="game" >
    <div id='cssmenu' ng-controller="game.controller.menu">
        <ul>
           <li><a href='#/' ng-class="{'active': isActive('/')}"><span>Home</span></a></li>
           <li><a href='#/Results' ng-class="{'active': isActive('/Results')}" ><span>Results</span></a></li>
           <li><a href='#/About' ng-class="{'active': isActive('/About')}"  ><span>About</span></a></li>
           <li class='last' ng-class="{'active': isActive('/Login')}"><a href='#/Login'><span>Login</span></a></li>
        </ul>
    </div>
    <div ng-view></div>

</body>
</html>